footer.footer {
	@include white-text;
	background-color: $dark-blue;
	background-image: url('../img/blue-bg.jpg');
	.footer-content {
		@include vertical-padding(.5);
		.footer-about {
			@include vertical-padding(.5, false, true);
			@include breakpoint(large) {
				order: 2;
				padding-bottom: 0;
			}
			.footer-about-image {
				width: 110px;
				float: left;
				padding-right: 15px;
				padding-bottom: 5px;
				@include breakpoint(medium) {
					width: 140px;
					padding-right: 0;
					padding-bottom: 0;
				}
			}
			.footer-about-content {
				@include clean-last-child;
				@include breakpoint(medium) {
					padding-left: 155px;
				}
			}
		}
		.footer-connect {
			@include clean-last-child;
			@include vertical-padding(.5, false, true);
			@include breakpoint(medium) {
				padding-bottom: 0;
			}
			form p {
				margin-bottom: 0;
			}
		}
		.footer-service {
			@include clean-last-child;
		}
	}
	.copyright {
		font-size: rem-calc(14);
		text-align: center;
		padding: 10px 0;
		@include breakpoint(medium) {
			text-align: left;
		}
		p {
			margin-bottom: 0;
			@include breakpoint(medium) {
				display: inline-block;
			}
		}
		ul {
			@include clean-list;
			@include breakpoint(medium) {
				display: inline-block;
			}
			li {
				display: inline-block;
				a {
					display: block;
					padding-right: 6px;
					padding-left: 2px;
					border-right: 1px solid $black;
					line-height: 1;
				}
				&:first-child a {
					padding-left: 0;
					@include breakpoint(medium) {
						padding-left: 6px;
						border-left: 1px solid $black;
					}
				}
				&:last-child a {
					padding-right: 0;
					border-right: none;
				}
			}
		}
	}
}