div.off-canvas-content {
	background-image: url('../img/sacred-within-us-background.jpg');
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #0B1D21;
}

div.white-bg-section {
	@include card-padding(2);
	@include clean-last-child;
	background-color: $white;
	background-image: url('../img/white-bg.jpg');
	&.small {
		@include card-padding(1);
	}
}

.page-header-image {
	img {
		width: 100%;
	}
}

// Page sections
.page-section {
	@include vertical-padding(.5);

	&+& {
		padding-top: 0;
	}

	// Intro section
	.intro-section { 
		@include vertical-padding( .5, false, true );
		.cell{
			@include clean-last-child;
		}
	}
}

// Pagination
.pagination {
	display: flex;
	justify-content: space-between;
	text-align: center;
	@include breakpoint(medium) {
		display: block;
		position: relative;
	}
	.page-numbers {
		display: none;
		text-align: center;
		text-decoration: none;
		font-weight: $bold;
		border: 2px solid $white;
		color: $white;
		width: 32px;
		height: 32px;
		line-height: 28px;
		@include breakpoint(medium) {
			display: inline-block;
		}
		&.dots,
		&.current {
			border: none;
		}
		&.dots {
			width: auto;
			padding: 0 5px;
		}
		&.next {
			display: inline-block;
			width: auto;
			padding: 0 10px;
			color: $white;
			@include breakpoint(medium) {
				position: absolute;
				right: 0;
			}
		}
		&.prev {
			display: inline-block;
			width: auto;
			padding: 0 10px;
			color: $white;
			@include breakpoint(medium) {
				position: absolute;
				left: 0;
			}
		}
	}
}